@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-LightItalic.ttf);
}

html, body {
  background-color: black;
}

*, html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: red;
  justify-content: space-around;
}

body {
  padding-bottom: 40px;
}

h1 {
  text-align: center;
  position: fixed;
  width: 100%;
}

p {
  margin-left: 40px;
  padding-right: 55px;
  margin-top: 45px;
  font-size: 19px;
  font-family: Roboto;
}

iframe {
  margin-left: 120px;
  margin-top: 45px;
  width: 460px;
  height: 320px;
  border-radius: 20px;
  border: 1px solid red;
}

ol, ul {
  margin-left: 56px;
  margin-top: 5px;
  font-size: 16px;
  width: 278px;
}

ul {
  margin-left: 20px;
}

img {
  object-fit: cover;
}

a:hover {
  color: white;
}

.long {
  width: 270px;
  font-size: 18px;
  margin-top: 20px;
}

.shit {
  justify-content: left;
}

.space {
  justify-content: space-between;
}

.plus {
  padding-top: 20px;
}

.bold {
  font-weight: bold;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
}

.row {
  flex-direction: row;
  display: flex;
}

.category {
  margin-left: 40px;
  margin-top: 35px;
  font-size: 30px;
}

.picture {
  width: 0;
  margin-block: 4%;
  margin-inline: 25%;
  position: fixed;
}

.picture2 {
  width: 700px;
  height: 500px;
  margin-top: 150px;
  margin-left: 10px;
}

.picture3 {
  width: 300px;
  height: 300px;
  margin-top: 40px;
  margin-left: 42px;
  margin-right: 35px;
}

.pic {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-left: 50px;
  padding-bottom: 50px;
}

.content {
  padding-top: 60px;
  font-family: Roboto;
}

.picup {
  margin-top: 100px;
  padding-right: 40px;
}

.tags {
  font-size: 18px;
  margin-top: 100px;
  margin-left: 50px;
  color: royalblue;
}

.popup {
  background-color: black;
  opacity: 0.8;
  position: fixed;
}

.popup_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_image {
  border-radius: 20px;
  border: 1px solid red;
}

.button_left img {
  width: 78px;
  height: 78px;
  bottom: 40px;
  left: calc(50% - 78px);
  position: absolute;
}

.button_right img {
  width: 78px;
  height: 78px;
  bottom: 40px;
  right: calc(50% - 78px);
  position: absolute;
}

.cross img {
  width: 58px;
  height: 58px;
  top: 140px;
  right: calc(33% - 29px);
  position: absolute;
}